:root {
    --light-text-color: #9896A3;
    --light-border-color: #E6E4F0;
    --low-opacity-text-color: #D3D2DC;
    --active-color: #5577FF;
    --reverse-text-color: #F5FFFC;
    --dark-gray-text-color: #888793;
    --black-text-color: #4F4F4F;
}

.main-container {
    background: #F9F8FF;
}

.content-container {
    position: relative;
    color: #1b1b1b;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-bottom: 1px solid var(--light-border-color);
}

.main-header .icon-holder {
    width: 24px;
    height: 24px;
    background: url(./icons/Category.png);
    background-size: cover;
}

.main-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main-container h2 {
    font-weight: 700;
    margin: 0;
}

.gradient-info {
    width: 96vh;
    margin-top: 20px;
    height: 120px;
    background: url(./gradients/big_gradient4.png);
    background-size: cover;
    background-position: bottom 50%;
    border-radius: 15px;
    color: var(--reverse-text-color);
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 20px;
    align-items: end;
    padding: 30px;
}

.gradient-info p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.info-header {
    text-transform: uppercase;
    color: #1b1b1b70;
}

.info {
    color: #1b1b1b;
}


/* todos container */

.todos-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    height: 58.7vh;
    overflow: hidden;
    overflow-y: scroll;
}

/* task element */

.task-element {
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--light-border-color);
    border-radius: 15px;
    padding-left: 20px;
}

.task-element:hover {
    background: #f0f0f040;
}

.task-element .tag {
    font-size: 12px;
    font-weight: 600;
}

.task-element div:nth-child(3) {
    margin-left: 30px;
}

.task-element:has(.todo-status:active),
.todo-element:has(.todo-status:active)  {
    transition: 0.3s;
    scale: 0.99;
}


/* gradient-container */

.gradient-container:nth-child(1) {
    background: url(./gradients/Grad_01.png);
    background-size: contain;
    z-index: 0;
    position: absolute;
    width: 450px;
    height: 450px;
    opacity: 30%;
    bottom: 100px;
    right: 0px;
    transform: rotate(0deg);
}

.date.expiry {
    color: #ff6868;
}

.task-element .date {
    position: absolute;
    right: 30px;
}

/* task create form */

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.new-task {
    gap: 10px;
    border: 1px solid var(--light-border-color);
    border-radius: 8px;
    background: 0;
    border: 0;
    padding: 10px;
    border: 1px solid 0;
}

.new-task {
    border: 1px solid var(--light-border-color);
    background: #ffffff;
    background-size: cover;
    width: 100vh;
    margin: 20px 0;
}

 .new-task:has(input[type=text]:focus) {
    border: 1px solid var(--active-color);
    border-radius: 8px;
    outline: 0;
    background: white;
}

.new-task input[type="text"] {
    background: 0;
    border: 0;
    width: 600px
}

.new-task input[type="text"]:focus {
    outline: 0;
    background: 0;
}


.set-info {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    z-index: 5;
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    border-radius: 5px;
    color: var(--black-text-color);
    box-shadow: 0px 0px 7px -3px #4F4F4F40;
    border: 1px solid var(--light-border-color);
}


.select-date {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    border-bottom: 1px solid var(--light-border-color);
    padding: 10px;
}

.select-date p {
    margin: 0;
    padding: 0;
}

.tomorrow-btn,
.today-btn {
    width: 30px;
    height: 30px;
    opacity: 0.7;
}

.today-btn:hover,
.tomorrow-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.tomorrow-btn {
    background: url(./icons/tomorrow.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.today-btn {
    background: url(./icons/today.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.priority-tags {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    justify-content: center;
    border-bottom: 1px solid var(--light-border-color);
}

.priority-tags label {
    transition: 0.3s;
    opacity: 0.7;
    scale: 0.9;
    border: 1px solid white;
}

.priority-tags p {
    font-size: 14px;
}

.priority-tags input[type="radio"],
.select-date input[type="radio"] {
    width: 25px;
    height: 25px;
    border: 0;
    font-weight: 700;
    display: none;
}

.priority-tags input[type="radio"]:checked + label{
    opacity: 1;
    scale: 1;
    border: 1px solid var(--active-color);
}

.select-date input[type="radio"] + label {
    transition: 0.3s;
    opacity: 0.7;
    scale: 0.8;
}

.select-date input[type="radio"]:checked + label {
    scale: 1;
    border-radius: 3px;
    background-color: #e9e9e9;
}

#show-set-info {
    position: absolute;
    right: 30px;
    border: 0;
    background: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: var(--low-opacity-text-color);
    padding: 0px;
}

#show-set-info:hover {
    color:rgb(179, 179, 179);
    cursor: pointer;
}

.hidden {
    display: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#date {
    border: 0;
    padding: 10px;
}

#date:focus {
    outline: 1px solid var(--active-color);
}

/* tags */

.tags-assigner {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    height: 11.7vh;
    overflow: hidden;
    overflow-y: scroll;
}

.tags-assigner input[type=checkbox] {
    display: none;
}

.tags-assigner label {
    border: 1px solid white;
    border-radius: 10px;
    scale: 0.9;
    padding-left: 10px;
    transition: 0.3s;
}

.tags-assigner label:hover {
    border-radius: 10px;
}

.tags-assigner input[type="checkbox"]:checked + label {
    border: 1px solid var(--active-color);
    scale: 1;
}

/* 7 DAYS PAGE */

.days7page .todos-list {
    height: 65.85vh;
}

.gradient-info.days7 {
    background: url(./gradients/big_gradient6.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    margin-bottom: 20px;
}

.days7page .gradient-container:nth-child(1) {
    background: url(./gradients/Grad_15.png);
    z-index: 0;
    bottom: 120px;
    transform: rotate(-30deg);
    right: -100px;
    background-size: contain;
}