:root {
    --light-text-color: #9896A3;
    --light-border-color: #E6E4F0;
    --low-opacity-text-color: #D3D2DC;
    --active-color: #5577FF;
    --reverse-text-color: #F5FFFC;
    --dark-gray-text-color: #888793;
    --black-text-color: #4F4F4F;
}

*:hover {
    transition: 0.3s;
}

.main-container {
    background: #F9F8FF;
}

.content-container {
    position: relative;
    color: #1b1b1b;
    padding: 30px;
    display: flex;
    /* height: 93.3vh; */
    justify-content: center;
    flex-direction: column;
    background: white;
    border-bottom: 1px solid var(--light-border-color);
}

.main-header .icon-holder {
    width: 20px;
    height: 20px;
    background: url(./icons/Category.png);
    background-size: cover;
}

.main-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main-container h2 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.gradient-info {
    width: 96vh;
    margin-top: 20px;
    height: 120px;
    background: url(./gradients/big_gradient3.png);
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    color: var(--reverse-text-color);
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 20px;
    align-items: end;
    padding: 30px;
    color:#1f1f1f;
}

.gradient-info p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}


.info-header {
    text-transform: uppercase;
    color: #1b1b1b70;
}

.info {
    color: #1b1b1b;
}


/* todos container */

.todos-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    height: 59.2vh;
    overflow: hidden;
    overflow-y: scroll;
}

/* task element */

.task-element {
    transition: 0.5s ease;
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--light-border-color);
    background: #ffffff40;
    border-radius: 15px;
    padding-left: 20px;
}

.task-element:hover {
    background: #f0f0f060;
}

.task-element .tag {
    font-size: 12px;
    font-weight: 600;
}

.task-element p {
    font-weight: 500;
}

.task-element div:nth-child(3) {
    margin-left: 30px;
}

.task-element:has(.todo-status:active),
.todo-element:has(.todo-status:active)  {
    transition: 0.3s;
    scale: 0.995;
}


/* gradient-container */

.gradient-container:nth-child(1) {
    background: url(./gradients/Grad_01.png);
    background-size: contain;
    z-index: 0;
    position: absolute;
    width: 450px;
    height: 450px;
    opacity: 30%;
    bottom: 100px;
    right: 0px;
    transform: rotate(0deg);
}

.date.expiry {
    color: #ff6868;
}

.task-element .date {
    position: absolute;
    right: 30px;
}

/* task create form */

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.new-task {
    gap: 10px;
    border: 1px solid var(--light-border-color);
    border-radius: 8px;
    background: 0;
    border: 0;
    padding: 10px;
    border: 1px solid 0;
}

.new-task {
    border: 1px solid var(--light-border-color);
    background: #ffffff;
    background-size: cover;
    width: 100vh;
    margin: 20px 0;
}

 .new-task:has(input[type=text]:focus) {
    border: 1px solid var(--active-color);
    border-radius: 8px;
    outline: 0;
    background: white;
}

.new-task input[type="text"] {
    background: 0;
    border: 0;
    width: 600px
}

.new-task input[type="text"]:focus {
    outline: 0;
    background: 0;
}


.set-info {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    z-index: 5;
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    border-radius: 5px;
    color: var(--black-text-color);
    box-shadow: 0px 0px 7px -3px #4F4F4F40;
    border: 1px solid var(--light-border-color);
}

.set-info p:nth-child(3),
.set-info p:nth-child(5) {
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 10px;
}

.select-date {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    border-bottom: 1px solid var(--light-border-color);
    padding: 10px;
}

.select-date p {
    margin: 0;
    padding: 0;
}

.tomorrow-btn,
.today-btn {
    width: 30px;
    height: 30px;
    opacity: 0.7;
}

.today-btn:hover,
.tomorrow-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.tomorrow-btn {
    background: url(./icons/tomorrow.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.today-btn {
    background: url(./icons/today.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.priority-tags {
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    justify-content: center;
    border-bottom: 1px solid var(--light-border-color);
}

.priority-tags label {
    transition: 0.3s;
    opacity: 0.7;
    scale: 0.9;
    border: 1px solid white;
}

.priority-tags p {
    font-size: 14px;
}

.priority-tags input[type="radio"],
.select-date input[type="radio"] {
    width: 25px;
    height: 25px;
    border: 0;
    font-weight: 700;
    display: none;
}

.priority-tags input[type="radio"]:checked + label{
    opacity: 1;
    scale: 1;
    border: 1px solid var(--active-color);
}

.select-date input[type="radio"] + label {
    transition: 0.3s;
    opacity: 0.7;
    scale: 0.8;
}

.select-date input[type="radio"]:checked + label {
    scale: 1;
    border-radius: 3px;
    background-color: #e9e9e9;
}

#show-set-info {
    position: absolute;
    right: 30px;
    border: 0;
    background: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: var(--low-opacity-text-color);
    padding: 0px;
}

#show-set-info:hover {
    color:rgb(179, 179, 179);
    cursor: pointer;
}

.hidden {
    display: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#date {
    border: 0;
    padding: 10px;
}

#date:focus {
    outline: 1px solid var(--active-color);
}

/* tags */

.tags-assigner {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    height: 11.7vh;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid var(--light-border-color);
}


.tags-assigner input[type=checkbox],
.project-assigner input[type=radio] {
    display: none;
}

.tags-assigner label,
.project-assigner label {
    border: 1px solid white;
    border-radius: 10px;
    scale: 0.9;
    padding-left: 10px;
    transition: 0.3s;
}

.tags-assigner label:hover,
.project-assigner label:hover {
    cursor: pointer;
    border-radius: 10px;
}

.tags-assigner input[type="checkbox"]:checked + label {
    border: 1px solid var(--active-color);
    scale: 1;
}

.project-assigner input[type=radio]:checked + label {
    border: 1px solid var(--active-color);
    scale: 1;
}

/* project assigner */
.project-assigner {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    height: 8.7vh;
    overflow: hidden;
    overflow-y: scroll;
}

.project-assign:hover {
    cursor: pointer;
    opacity: 0.8;
}


/* 7 DAYS PAGE */

.days7page .todos-list {
    height: 65.91vh;
}

.days7page .icon-holder {
    background: url(./icons/Calendar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.gradient-info.days7 {
    background: url(./gradients/03.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    margin-bottom: 20px;
}

.days7page .gradient-container:nth-child(1) {
    background: url(./gradients/Grad_15.png);
    z-index: 0;
    bottom: 120px;
    transform: rotate(-30deg);
    right: -100px;
    background-size: contain;
}

/* INBOX PAGE */

.inbox {
    background: url(./gradients/big_gradient7.png);
    background-size: 1000px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.inboxpage .icon-holder {
    background: url(./icons/Paper.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* ACTIVITY PAGE */

.activitypage .gradient-info {
    background: url(./gradients/31.png);
    background-size: 1000px;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.activitypage .gradient-container {
    background: url(./gradients/Grad_04.png);
    background-size: cover;
    left: 10%;
}

.activitypage .todos-list {
    height: 65.9vh;
}

.activitypage .icon-holder {
    background: url(./icons/Activity.png);
    background-size: cover;
}

/* PROJECTS PAGE */
.todos-and-projects {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
}

.todos-and-projects p, h4 {
    margin: 0;
    padding: 0;
}

.todos-and-projects .todos-list {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 30px;
}

.todos-and-projects .todos-list .task-element {
    padding: 10px;
    display: flex;
    gap: 5px;
    background: white;
}

.todos-and-projects .todos-list .task-element:hover {
    padding: 10px;
    display: flex;
    gap: 5px;
    background: rgb(245, 245, 245);
}

/* projects */

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.project-folder {
    transition: 0.5s ease;
    border: 1px solid var(--light-border-color);
    border-radius: 20px;
    padding: 10px;
    background: white;
}

.project-folder .img-holder {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background: url(./proj_avatars/10.png);
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-gradient {
    background: url(./gradients/big_gradient1.png);
    background-size: 270px;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-info h4 {
    font-weight: 700;
    color:#1b1b1b;
}

.project-info p {
    color: var(--black-text-color);
    font-size: 12px;
}

.project-folder .tags-list {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.header {
    display: flex;
    align-items: center;
}

.header h2 {
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 18px;
    color:#1b1b1b;
}

.header:nth-child(1) h2{
    margin-bottom: 0px;
}

.project-folder:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px -3px #1b1b1b50;
}

.header .icon-holder {
    width: 20px;
    height: 20px;
}

.header:nth-child(1) .icon-holder {
    background: url(./icons/projectfolder.png);
    background-size: cover;
}

.header:nth-child(3) .icon-holder {
    background: url(./icons/Time-Square.png);
    background-size: cover;
    position: relative;
    top: -7px;
}


/* Project Info */

.single-project .main-text h4 {
    color: var(--black-text-color);
}

.single-project .main-text p {
    color: #1b1b1b;
}

.single-project .project-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.project-main-information {
    display: flex;
    gap: 50px;
}

.project-main-information p,
.project-secondary-information p {
    color: #1b1b1b;
}

.value-container p {
    color: var(--dark-gray-text-color)
}

.single-project .tag-list {
    display: flex;
    font-size: 12px;
}

.project-info p {
    font-size: 14px;
    font-weight: 400;
}

.value-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.value-container .tag-list {
    position: relative;
    top: 5px;
    margin-bottom: 20px;
}

.value-container .info-value:nth-child(2) {
    position: relative;
    bottom: 7px;
}

.value-container .priority {
    width: 70px;
    font-size: 14px;
}


.info-row:nth-child(1) .icon-holder,
.info-row:nth-child(4) .icon-holder  {
    background: url(./icons/Time-Circle.png);
    background-size: cover;
}

.info-row:nth-child(2) .icon-holder {
    background: url(./icons/Filter.png);
    background-size: cover;
}

.info-row:nth-child(3) .icon-holder {
    background: url(./icons/Star.png);
    background-size: cover;
}

/* description */

.project-secondary-information .description {
    font-weight: 700;
}

.project-secondary-information {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}

.description-content {
    color: var(--dark-gray-text-color);
}

/* project tasks */

.project-tasks {
    padding: 15px 30px 30px 30px;
}

.project-tasks h2 {
    color: #1b1b1b;
    font-size: 18px;
    margin-bottom: 15px;
}

.project-tasks .todos-list {
    height: 21rem;
}

.project-tasks .task-element {
    transition: 0.3s ease;
    background-color: white;
}

.project-tasks .task-element:hover {
    background-color: #f7f7f7;
}

