:root {
    --light-text-color: #9896A3;
    --light-border-color: #E6E4F0;
    --low-opacity-text-color: #D3D2DC;
    --active-color: #5577FF;
    --reverse-text-color: #F5FFFC;
    --dark-gray-text-color: #888793;
    --black-text-color: #4F4F4F;
}

.infobar {
    display: grid;
    grid-template-rows: 0.83fr 1fr;
    border-left: 1px solid var(--light-border-color);
    padding: 20px 20px 0px 10px;
}

.todos {
    grid-area: auto;
}

.todos-container::-webkit-scrollbar,
.notes-container::-webkit-scrollbar {
    display: none;
}

.notes {
    grid-area: auto;
}

.todos-container {
    overflow: hidden;
    overflow-y: scroll;
    height: 36.3vh;
}

/* Header */

.todos-header,
.notes-header {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light-border-color);
}

.todos-header .icon-holder {
    width: 20px;
    height: 20px;
    background: url(./icons/Category-1.png);
}

.todos-header p,
.notes-header p {
    padding: 0;
    margin: 10px 0;
}

.todos-header .add,
.notes-header .add {
    position: absolute;
    right: 0;
}

/* Todos Elements */

.todo-element {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background: #F9F8FF;
    border-radius: 15px;
    border: 1px solid var(--light-border-color);
    margin-bottom: 5px;
}

.todo-element p {
    margin: 10px 0px;
}

.task-main-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-status {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 2px #BBBBBE;
}

.todo-status:hover {
    transition: 0.2s;
    cursor: pointer;
    background: #BBBBBE40;
}

.todo-status.status-checked {
    outline: 0;
    background-color: var(--active-color);
    background: url(./icons/checkmark.png);
    background-size: contain;
    box-shadow: inset 0px 0px 0px 0px;
}

.checked {
    transition: 0.3s;
    color: var(--active-color);
    text-decoration: line-through;
}

.todo-status.status-checked:hover {
    background-size: contain;
    background-color: var(--active-color);
    background: url(./icons/checkmark.png);
    opacity: 0.7;
}

.task-sub-info {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.date {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #BBBABE;
}


/* tags */

.tag {
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 700;
}

.tag:hover {
    opacity: 0.7;
    cursor: pointer;
}

.tg-blue {
    background: #49CCF930;
    color: #49CCF9;
}

.tg-red {
    background: #FD71AF30;
    color: #FD71AF;
}

.tg-green {
    background: #00B88430;
    color: #00B884;
}

.tg-yellow {
    background: #FFC80030;
    color: #FFC800;
}

/* Priority */

.priority {
    position: relative;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 4px;
}

.priority:hover {
    opacity: 0.7;
    cursor: pointer;
}

.priority span {
    font-weight: 700;
}

.priority.relative span {
    position: absolute;
    font-weight: 700;
    left: 0.4rem;
}

.max {
    background: #FD717130;
    color: #FD7171;
}

.medium {
    background: #FDC57130;
    color: #FDC571;
}

.low {
    background: #71C2FD30;
    color: #71C2FD;
}

/* Notes */
.notes {
    margin: 0;
    top: -5.5rem;
}

.notes-container {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 430px;
}

.notes .add span {
    position: absolute;
    top: -6px;
}

.notes .icon-holder {
    background: url(./icons/Edit-Square.png);
}

.note-element {
    position: relative;
    border: 1px solid var(--light-border-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px -7px #4F4F4F50;
    margin: 15px 0;
}

.note-element .icon-holder {
    background: url(./icons/Paper.png);
    background-repeat: no-repeat;
}

.icon-holder-settings {
    width: 25px;
    height: 4px;
    background: url(./icons/dots.png);
    background-repeat: no-repeat;
    opacity: 0.7;
}

.icon-holder-settings:hover {
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}

.note-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.note-header .date {
    left: 15%;
}

.note-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.content-header {
    color: var(--black-text-color);
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.main-content {
    color: #999999;
    font-size: 14px;
}

.note-tags {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
}
